body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Adicionado para centralizar o texto */
}

.logo-image {
    width: 150px; /* Ajuste conforme necessário */
    margin-bottom: 20px; /* Espaçamento abaixo da logo */
}

h1 {
    color: #333;
}

.qr-code {
    margin: 20px 0;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"],
input[type="file"],
button {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.download-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.download-button:hover {
    background-color: #0056b3;
}

.footer {
    margin-top: 20px;
    font-size: 0.8em;
    color: #666;
}
